* text=auto
*.lua text
*.md text
*.otui text
*.otmod text
*.json text
*.sql text
*.xml text
*.cpp text
*.h text
*.txt text
*.png binary
*.jpg binary
*.ico binary
*.dat binary
*.pic binary
*.spr binary
*.otfi binary
